@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    String ServerURL = CHamRieng.Get_Domain();

    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Edit";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");

    String Path = Url.Action("", "");
    String MaLuat = "";

    int sMenu_Active = 0;
    if (Convert.ToString(ViewData["smenu"]) != null && Convert.ToString(ViewData["smenu"]) != "")
    {
        sMenu_Active = Convert.ToInt32(ViewData["smenu"]);
    }
    else
    {
        if(String.IsNullOrEmpty(Request.QueryString["menu"]) == false)
        {
            sMenu_Active = CPQ_MENU.Get_MaCha_Menu(Convert.ToString(Request.QueryString["menu"]));
        }
    }

    String strMess = "";
}

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@(ServerURL)/Content/dist/img/icon-support.png" class="img-circle" alt="Hỗ trợ kỹ thuật" />
            </div>
            <div class="pull-left info">
                <p>Hỗ trợ kỹ thuật</p>
                <a href="tel:0942525590"><i class="fa fa-circle text-success"></i> 0942.525.590</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        @{
            if (Request.IsAuthenticated)
            {
                String sUserName = User.Identity.Name;
                String SQL = "SELECT iID_MaLuat " +
                                "FROM QT_NguoiDung INNER JOIN PQ_NhomNguoiDung_Luat ON QT_NguoiDung.iID_MaNhomNguoiDung = PQ_NhomNguoiDung_Luat.iID_MaNhomNguoiDung " +
                                "WHERE sID_MaNguoiDung = @sID_MaNguoiDung";
                SqlCommand cmd = new SqlCommand(SQL);
                cmd.Parameters.AddWithValue("@sID_MaNguoiDung", sUserName);
                MaLuat = Connection.GetValueString(cmd, "", DATA0200025.CThamSo.iKetNoi);
                cmd.Dispose();
                String MaNhomNguoiDung = BaoMat.LayMaNhomNguoiDung(sUserName);
                int MaxLength = 0;

                if (String.IsNullOrEmpty(MaLuat) == false || BaoMat.KiemTraNhomNguoiDungQuanTri(MaNhomNguoiDung))
                {
                    strMess = CMenu.LayXauMenu(Path, sMenu_Active, MaLuat, 0, 0);
                }
            }
        }
        @MvcHtmlString.Create(strMess.ToString());
    </section>
    <!-- /.sidebar -->
</aside>