<div class="checkbox-container" data-gift-note-html>
  <h2 class="section__title" style="margin-bottom: 1em">Gift Options</h2>
  <input type="checkbox" class="input-checkbox" id="gift-message">
  <label for="gift-message">  <img src="https://cdn.shopify.com/s/files/1/1154/7838/t/2/assets/giftbox-icon.svg?15220141244123693282"> <span>Gift Message</span></label>
  <div id="msg_text">
    <textarea class="field__input" placeholder="Enter gift note here..."></textarea>
    <br />
    <div class="og_btn add_msg">Add Gift Message</div>
    <div class="og_btn edit_msg">Edit Gift Message</div>
  </div>
</div>