@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ParentID = "Edit";
}

@using (Html.BeginForm("Edit", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box-header with-border">
        <h3 class="box-title">
            @if (ViewData["DuLieuMoi"] == "1")
            {
                @String.Format("{0}", "Thêm mới thông tin công ty")
            }
            else
            {
                @String.Format("{0}", "Sửa thông tin công ty")
            }
        </h3>
        <div class="box-tools pull-right"></div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="Edit_sFile">Logo</label>
                    @MvcHtmlString.Create(MyHtmlHelper.UploadFile(ParentID, "File", ""))
                </div>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="submit">Save</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
        </div>
    </div>
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button4 {
        border-radius: 9px;
    }
</style>

<fieldset>
    <legend style="font-family:Arial Black;color:blue">Upload And Download Files Here</legend>
    <div>
        <div class="form-group">
            <div id="updateStatus" class="alert" role="alert" style="display:none;"></div>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:10px;">
            <input type="file" id="fileToBeUploaded" class="btn btn-primary" />
        </div>
        <input id="btnUploadFile" class="button button4" type="button" value="Upload" />
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#btnUploadFile').click(function () {
            //    if ($('#fileToBeUploaded').val() == '') {
            //        alert('Please select file');
            //        return;
            //    }
            //    //if (window.location.protocol.indexOf('https') == 0) {
            //    //    var el = document.createElement('meta')
            //    //    el.setAttribute('http-equiv', 'Content-Security-Policy')
            //    //    el.setAttribute('content', 'upgrade-insecure-requests')
            //    //    document.head.append(el)
            //    //}

            //    var formData = new FormData();
            //    var file = $('#fileToBeUploaded')[0];
            //    formData.append('file', file.files[0]);
            //    $.ajax({
            //        url: 'http://mard.adp-p.com/api/uploadfile',     //http://mard.adp-p.com/api/fileuploadapi
            //        type: 'POST',
            //        data: formData,
            //        contentType: false,
            //        processData: false,
            //        success: function (d) {
            //            $('#updateStatus').addClass('alert-success').html('<strong>Upload Done!</strong><a href="' + d + '">Download File</a>').show();
            //            $('#fileToBeUploaded').val(null);
            //        },
            //        error: function (jqXHR, textStatus, errorThrown) {
            //            alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

            //            $('#result').html('<p>status code: ' + jqXHR.status + '</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>' + jqXHR.responseText + '</div>');
            //            console.log('jqXHR:');
            //            console.log(jqXHR);
            //            console.log('textStatus:');
            //            console.log(textStatus);
            //            console.log('errorThrown:');
            //            console.log(errorThrown);
            //        }
            //    });
            //});

            $('#btnUploadFile').click(function () {
                if ($('#fileToBeUploaded').val() == '') {
                    alert('Please select file');
                    return;
                }
                var formData = new FormData();
                var file = $('#fileToBeUploaded')[0];
                formData.append('file', file.files[0]);
                //alert(formData);
                var settings = {
                    "url": "http://mard.adp-p.com/api/uploadfile",
                    "method": "POST",
                    "timeout": 0,
                    "processData": false,
                    "mimeType": "multipart/form-data",
                    "contentType": false,
                    "data": formData
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });
            });
        });
    </script>
</fieldset>



@using (Html.BeginForm("SendXML1513", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box-header with-border">
        <h3 class="box-title">
            GỦI BẢN TIN 13(11)
        </h3>
        <div class="box-tools pull-right"></div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="Edit_sFile">Mã hồ sơ</label>
                    @MvcHtmlString.Create(MyHtmlHelper.TextBox(ParentID, "", "iID_MaHoSo", "", "type=\"text\" placeholder=\"Mã hồ sơ\" class=\"form-control\""))
                </div>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="submit">Save</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="button" onclick="javascript: history.go(-1);">Cancel</button>
        </div>
    </div>
}


@using (Html.BeginForm("DeleteFileCapcha", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box-header with-border">
        <h3 class="box-title">
            XÓA FILE CAPCHA
        </h3>
        <div class="box-tools pull-right"></div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="Edit_sFile">Xóa file trogn thư mục Capcha</label>
                </div>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="submit">Delete</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
        </div>
    </div>
}
