@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@model HoSoModels
@{
    Layout = null;
    string ParentID = "Edit";
}

<div class="box-header with-border">
    <h3 class="box-title">Thông tin liên hệ</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Người liên hệ</label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sLienHe_Name, "sLienHe_Name", "", "type=\"text\" class=\"form-control\""))

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Số điện thoại<span style="color: red;">&nbsp;*</span></label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sLienHe_Tel, "sLienHe_Tel", "", "type=\"text\" class=\"form-control\""))

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Địa chỉ</label>

                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sLieHe_DiaChi, "sLieHe_DiaChi", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="">Email<span style="color: red;">&nbsp;*</span></label>

                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sLienHe_Email, "sLienHe_Email", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
    </div>

</div>
