
@{
    Layout = null;
}
<div class="box-header with-border">
    <h3 class="box-title">Danh sách TACN</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="table-responsive" style="margin-top:30px;height:auto;">
        <table id="tblListData" class="table table-bordered table-hover table-striped">
            <tr>
                <th style="width: 3%; text-align: center;">STT</th>
                <th style="width: 30%; text-align: center;">Tên chỉ tiêu chất lượng</th>
                <th style="width: 30%; text-align: center;">Hình thức công bố</th>
                <th style="width: 18%; text-align: center;">Hàm lượng</th>
                <th style="width: 18%; text-align: center;">Đơn vị tính</th>
            </tr>

            <tr>
                <td style="text-align: center;">1</td>
                <td>Độ ẩm</td>
                <td>Min max</td>
                <td>2.0</td>
                <td>20%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1</td>
                <td>Độ ẩm</td>
                <td>Min max</td>
                <td>2.0</td>
                <td>20%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1</td>
                <td>Độ ẩm</td>
                <td>Min max</td>
                <td>2.0</td>
                <td>20%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1</td>
                <td>Độ ẩm</td>
                <td>Min max</td>
                <td>2.0</td>
                <td>20%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1</td>
                <td>Độ ẩm</td>
                <td>Min max</td>
                <td>2.0</td>
                <td>20%</td>
            </tr>
        </table>
    </div>
</div>
<div class="box-body">
    <div style="height:643px;"></div>
</div>