@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@model HoSoModels
@{
    Layout = null;
    string ParentID = "Detail";
    SelectOptionList ddl = clHangHoa.DDL_HangHoa(Model.iID_MaHoSo);
    DataTable dt = ddl.dtData;
    int iID_MaHangHoa = 0;
    if (dt.Rows.Count > 0)
    {
        iID_MaHangHoa = Convert.ToInt32(dt.Rows[0]["iID_MaHangHoa"]);
    }
    HangHoaModels hangHoa = clHangHoa.GetHangHoaById(iID_MaHangHoa);
}

<div class="box-header with-border">
    <h3 class="box-title">Danh sách TACN</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="">Tên TACN:</label>
                @MvcHtmlString.Create(MyHtmlHelper.DropDownList(ParentID, ddl, "", "iID_MaHangHoa", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin chi tiết TACN</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body" style="height: 1064px;overflow: scroll;" id="divHH">
                @{Html.RenderPartial("~/Views/Partial/Partial_ThongTinChiTietTACN.cshtml", hangHoa);}
            </div>
        </form>
    </div>
</div>