@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using APP0200025.Controllers
@model  DATA0200025.Models.HoSoModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    string ParentID = "Detail";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Giấy đăng ký kiểm tra xác nhận chất lượng</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Lịch sử xử lý hồ sơ</a></li>

                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        @{Html.RenderPartial("~/Views/Partial/Partial_Detail.cshtml", Model);}
                        <section class="content" style="min-height: auto;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-danger">
                                        @{Html.RenderPartial("~/Views/Partial/Partial_ThongTinDanhChoCoQuanKiemTra.cshtml", Model);}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="box-footer clearfix text-center">
                            <button class="btn btn-danger" type="button" onclick="javascript:history.go(-1)">Quay lại</button>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        @{Html.RenderPartial("~/Views/Partial/Partial_LichSuHoSo.cshtml", Model);}
                        <div class="box-footer clearfix text-center">
                            <button class="btn btn-danger" type="button" onclick="javascript:history.go(-1)">Quay lại</button>
                        </div>
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
        </div><!-- /.col -->
    </div>
</section>
