<script type="text/javascript" language="javascript">
    function moveOptionUp(obj) {
        var selectedCount = 0;
        for (i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected) {
                selectedCount++;
            }
        }
        if (selectedCount > 1) {
            return;
        }
        var i = obj.selectedIndex;
        if (i == 0) {
            return;
        }
        swapOptions(obj, i, i - 1);
        obj.options[i - 1].selected = true;
    }

    function moveOptionDown(obj) {
        var selectedCount = 0;
        for (i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected) {
                selectedCount++;
            }
        }
        if (selectedCount > 1) {
            return;
        }
        var i = obj.selectedIndex;
        if (i == (obj.options.length - 1)) {
            return;
        }
        swapOptions(obj, i, i + 1);
        obj.options[i + 1].selected = true;
    }

    function swapOptions(obj, i, z) {

        var o = obj.options;
        var i_selected = o[i].selected;
        var z_selected = o[z].selected;

        var temp = new Option(o[i].text, o[i].value, o[i].defaultSelected, o[i].selected);
        var temp2 = new Option(o[z].text, o[z].value, o[z].defaultSelected, o[z].selected);
        o[i] = temp2;
        o[z] = temp;
        o[i].selected = z_selected;
        o[z].selected = i_selected;
    }

    function checkOrderSubmit(objText, obj) {
        doicho(objText, obj);
        return true;
    }

    function doicho(objText, obj) {
        var k;
        var tx;
        tx = "";
        for (k = 0; k < obj.options.length; ++k) {
            tx = tx + obj.options[k].value + "$";
        }

        objText.value = tx;
    }
</script>
@using System.Configuration
@using System.Collections
@using System.Data
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = ConfigurationManager.AppSettings["TitleView"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ParentID = "Sort";

    String id = Convert.ToString(ViewData["MaMenuCha"]);

    DataTable dt = CPQ_MENU.Get_Table_Menu_Cha(id);
}
@using (Html.BeginForm("Sort", "Menu", new { ParentID = ParentID, id = id }))
{

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">SẮP XẾP MENU</h3>
                            <div class="box-tools">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                                </ul>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div style="display:none;">
                                            <input id="btnLuu" onclick="javascript: checkOrderSubmit(hiddenOrder, SOrder);" type="submit" value="Lưu" />
                                            <script type="text/javascript">
                                                function btnLuu_click() {
                                                    document.getElementById('btnLuu').click();
                                                    return false;
                                                }
                                            </script>
                                        </div>
                                        <table class="table table-bordered table-hover table-striped">
                                            <tr>
                                                <td style="width: 95%">
                                                    <input type='hidden' name='hiddenOrder'>
                                                    <select name="SOrder" size="35" style="width: 100%">
                                                        @{
                                                            for (int i = 0; i < dt.Rows.Count; i++)
                                                            {
                                                                DataRow Row = dt.Rows[i];
                                                                string strSelected = null;
                                                                if (i == 0)
                                                                {
                                                                    strSelected = "selected";
                                                                }
                                                                <option value="@Row["IID_MAMENU"]" "@strSelected">@Row["STEN"]</option>
                                                            }
                                                            dt.Dispose();
                                                        }
                                                    </select>
                                                </td>
                                                <td style="padding-left: 10px; vertical-align: central; text-align: center; padding-top: 80px;" align="center">
                                                    <button class="btn btn-block btn-default" type="button" onclick="moveOptionUp(SOrder);">↑</button><br>
                                                    <button class="btn btn-block btn-default" type="button" onclick="moveOptionDown(SOrder);">↓</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" onclick="javascript:return btnLuu_click();" type="button">Save</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-default" type="button" onclick="javascript:history.go(-1)">Cancel</button>
                            </div>
                        </div>
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->

}
@{dt.Dispose();}