@using System.Configuration
@using System.Collections
@using System.Data
@using System.Web.UI
@using System.Drawing
@using System.IO
@using DomainModel
@using APP0200026.Models
@{
    String ServerURL = CHamRieng.Get_Domain();
}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0
    </div>
    <strong>
        PHẠM VĂN PHONG
    </strong>
</footer>