@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using APP0200025.Controllers
@model  DATA0200025.Models.HangHoaModels
@{
    ViewBag.Title = "Soạn phụ lục";
    Layout = null;
    string ParentID = "Edit";

}




@using (Ajax.BeginForm("XuLyChiTieuSubmit", "ChuyenVien", new AjaxOptions
{
    OnSuccess = "OnSuccessXuLyChiTieu",
    OnBegin = "OnBeginXuLyChiTieu",

}, new { id = "formXuLyChiTieu", enctype = "multipart/form-data" }))
{
    <script>
        function OnBeginXuLyChiTieu() {
            $('html, body').animate({ scrollTop: 10 }, 'slow');
        }

        function OnSuccessXuLyChiTieu(data) {
            alert("cập nhật thành công");
            $('#XuLyChiTieu').modal('hide');
        }

    </script>
    @Html.AntiForgeryToken()
    @Html.Hidden(ParentID + "_iID_MaHangHoa", Model.iID_MaHangHoa)
    <div class="modal-dialog" style="width:860px;height:auto">
        <div class="modal-content">
            <div class="modal-header">
               
                <div class="box-header">
                    <h3 class="box-title upperCase">Xử lý chỉ tiêu kiểm tra</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#" data-dismiss="modal"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:600px;" data-always-visible="1" data-rail-visible1="1">

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @{Html.RenderPartial("~/Views/Partial/Partial_HH_ThongTinTACN.cshtml", Model);}
                                @{Html.RenderPartial("~/Views/Partial/Partial_HH_ThongTinChiTieuChatLuong.cshtml", Model);}
                                @{Html.RenderPartial("~/Views/Partial/Partial_HH_ThongTinChiTieuAnToanDN.cshtml", Model);}
                                @{Html.RenderPartial("~/Views/Partial/Partial_HH_ThongTinChiTieuAnToanKyThuat.cshtml", Model);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-8">
                    <button class="btn btn-primary btn-sm" id="btnCapNhat" type="submit">Cập nhật</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" type="button">Thoát</button>
                </div>
            </div>
        </div>
    </div>


}

        }
