@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200026
@using APP0200026.App_Code
@using APP0200026.Models
@using APP0200026.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Index";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "BC_HangMau";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @{
                using (Ajax.BeginForm("Index", "Ajax", new { PartialView = "~/Views/HangMau/Detail.cshtml", OnLoad = ParentID + "_OnLoad" }, new AjaxOptions { }))
                {}
            }
            <script type="text/javascript">
                function @(ParentID)_OnLoad(v) {
                    document.getElementById("@(ParentID)_div").innerHTML = v;
                }
            </script>
            <div class="box" id="@(ParentID)_div">
                @{Html.RenderPartial("~/Views/HangMau/Detail.cshtml");}
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
