@using System.Configuration
@using System.Collections
@using System.Data
@using System.Web.UI
@using System.Drawing
@using System.IO
@using DomainModel
@using APP0200025.Models
@{
    String ServerURL = CHamRieng.Get_Domain();
}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 4.0
    </div>
    <strong>BẢN QUYỀN THUỘC BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN</strong>
    <p style="margin-bottom: 3px;"><b>Chịu trách nhiệm chính:</b> Bộ Nông nghiệp và phát triển nông thôn - Số 2, Ngọc Hà, Ba Đình, Hà Nội</p>
    <p style="margin-bottom: 3px;"><b>Điện thoại:</b> (024) 37345416  <b>Fax: </b>(024) 37345415  <b>Email:</b> vanphongcchc@mard.gov.vn</p>
</footer>