@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "TC";
}
<input hidden/>
<section>
    <div class="box-body">
        <div class="row">
            <div class="col-md-10">
                <iframe id="ifViewFile" src="" style="height:643px;width:750px;"> </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">

                <div class="col-xs-4">
                    <button class="btn btn-block btn-danger openthuhoi" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#ThuHoi" data-dismiss="modal" type="button">Thu hồi</button>
                </div>

                <div class="col-xs-4">
                    <a class="btn btn-primary btn-block" data-id="@Model.iID_MaHangHoa">Tải giấy XNCL</a>
                </div>


            </div>
        </div>
    </div>
</section>  