@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.Models
@model HoSoModels
@{
    Layout = null;
    string ParentID = "Edit";
}

<div class="box-header with-border">
    <h3 class="box-title">Thông tin ký hồ sơ (Doanh nghiệp)</h3>

</div><!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Nơi ký</label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sKyHoSo_Tinh, "sKyHoSo_Tinh", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Ngày ký<span style="color: red;">&nbsp;*</span></label>
                @{
                    if (Model.dKyHoSo_NgayKy != null && Model.dKyHoSo_NgayKy.Year > 1990)
                    {
                        @MvcHtmlString.Create(MyHtmlHelper.Label(string.Format("{0:dd/MM/yyyy}", Model.dKyHoSo_NgayKy), "dKyHoSo_NgayKy", "", "type=\"text\" class=\"form-control\""))
                    }
                    else
                    {
                        @MvcHtmlString.Create(MyHtmlHelper.Label("", "dKyHoSo_NgayKy", "", "type=\"text\" class=\"form-control\""))
                    }
                }
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label for="">Người ký<span style="color: red;">&nbsp;*</span></label>
                @MvcHtmlString.Create(MyHtmlHelper.Label(Model.sKyHoSo_NguoiKy, "sKyHoSo_NguoiKy", "", "type=\"text\" class=\"form-control\""))
            </div>
        </div>
    </div>

</div>
