@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String ParentID = "Index";

    int iNgay = 0, iThang = 0, iNam = 0;
    DateTime _dayNow = DateTime.Now;

    iNgay = _dayNow.Day;
    iThang = _dayNow.Month;
    iNam = _dayNow.Year;

    Double _iKhachHang_Day = 0, _iHopDong_Day = 0, _iSanPham_Day = 0, _iDuLieuThuThap_Day = 0;

    Double _iKhachHang_Month = 0, _iHopDong_Month = 0, _iSanPham_Month = 0, _iDuLieuThuThap_Month = 0;

    //_iKhachHang_Day = CDashboards.Get_Count_Day("DC_KhachHang", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iHopDong_Day = CDashboards.Get_Count_Day("MR_GioHang", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iSanPham_Day = CDashboards.Get_Count_Day("SP_SanPham", DateTime.Now.ToString("yyyy-MM-dd"));
    //_iDuLieuThuThap_Day = CDashboards.Get_Count_Day("TB_Locations", DateTime.Now.ToString("yyyy-MM-dd"));

    //_iKhachHang_Month = CDashboards.Get_Count_Month("DC_KhachHang", iThang, iNam);
    //_iHopDong_Month = CDashboards.Get_Count_Month("MR_GioHang", iThang, iNam);
    //_iSanPham_Month = CDashboards.Get_Count_Month("SP_SanPham", iThang, iNam);
    //_iDuLieuThuThap_Month = CDashboards.Get_Count_Month("TB_Locations", iThang, iNam);
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">LUỒNG QUY TRÌNH THỦ TỤC 25</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <img src="@(ServerURL)/Content/images/cnn25.png" alt="chart" width="100%" />
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

