@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@{
    ViewBag.Title = "TiepNhanHoaSo";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Edit";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "CNN25_HoSo";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String iID_MaHoSo = CString.SafeString(Request.QueryString["iID_MaHoSo"]);
    String sMaHoSo = CString.SafeString(Request.QueryString["sMaHoSo"]);
    String sUserTiepNhan = "2";
}
<style type="text/css">
    #Popup {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 50px;
        background: rgb(215, 215, 215);
        font-size: 20px;
    }
    .upperCase {
        text-transform: uppercase;
    }
</style>
<div class="col-md-12">
    <div class="box">
        @using (Html.BeginForm("TiepNhanHoSo", "ChoTiepNhanHoSo", new { ParentID = ParentID, MaHoSo = iID_MaHoSo }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);
            @Html.Hidden(ParentID + "_iID_MaHoSo", iID_MaHoSo);
            @Html.Hidden(ParentID + "_sUserTiepNhan", sUserTiepNhan);
            <div class="box-header with-border">
                <h3 class="box-title upperCase">Tiếp nhận hồ sơ</h3>
                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div id="Popup">Bạn có chắc chắn muốn tiếp nhận mã hồ sơ [@sMaHoSo] không ? </div>
                <div class="row">
                    &nbsp;
                </div>
                <div class="col-12" style="text-align:center;">
                    <button class="btn btn-primary btn-sm" type="submit">Đồng ý</button>
                    <button class="btn btn-danger btn-sm">Hủy</button>
                </div>
            </div>
        }
    </div><!-- /.box -->
</div><!-- /.col -->
