
@{
    ViewBag.Title = "YeuCauBoXung";
}
@using System
@using System.Data
@using System.Data.SqlClient
@using System.Configuration
@using System.Collections
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using DATA0200025.SearchModels
@using APP0200025.App_Code
@using APP0200025.Models
@{
    ViewBag.Title = "YeuCauBoXungHoSo";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    String ServerURL = CHamRieng.Get_Domain();
    String sDate = DateTime.Now.ToString("dd/MM/yyyy");
    String ParentID = "Edit";

    int iID_MaNgonNgu = 1;
    if (Session["LANGUAGECODE"] == null || Convert.ToString(Session["LANGUAGECODE"]) == "")
    {
        Session["LANGUAGEID"] = 1;
        Session["LANGUAGECODE"] = "vn";
    }
    else
    {
        iID_MaNgonNgu = Convert.ToInt32(Session["LANGUAGEID"]);
    }
    Hashtable Lang = NgonNgu.GetLanguage(Convert.ToString(Session["LANGUAGECODE"]), Server.MapPath("~/XML/" + Session["LANGUAGECODE"] + ".xml"), "pageApp");


    string TenBang = "CNN25_HoSo";
    String sDanhSachChucNangCam = BaoMat.DanhSachChucNangCam(User.Identity.Name, TenBang);

    String iID_MaHoSo = CString.SafeString(Request.QueryString["iID_MaHoSo"]);
    String sMaHoSo = CString.SafeString(Request.QueryString["sMaHoSo"]);
}
<style type="text/css">
    .norwap {
        white-space: nowrap;
    }

    .labelSearch {
        padding-top: 5px;
        display: block;
    }

    .upperCase {
        text-transform: uppercase;
    }

    .text-Align-Center {
        text-align: center;
    }
</style>
<div class="col-md-12">
    <div class="box">
        @using (Html.BeginForm("YeuCauBoXung", "ChoTiepNhanHoSo", new { ParentID = ParentID , iID_MaHoSo = iID_MaHoSo }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.Hidden(ParentID + "_DuLieuMoi", ViewData["DuLieuMoi"]);
            @Html.Hidden(ParentID + "_iID_MaHoSo", iID_MaHoSo);
            <div class="box-header with-border">
                <h3 class="box-title upperCase">Yêu cầu bổ sung hồ sơ</h3>
                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#" onclick="javascript:history.go(-1)"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                    </ul>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-2 labelSearch norwap">
                            Nhập lý do ý kiến<span style="color:#D9001B;"> (*)</span>
                        </div>
                        <div class="col-xs-10">
                            @MvcHtmlString.Create(MyHtmlHelper.TextArea(ParentID, "", "sTenNguoiTiepNhan", "", "class=\"form-control\" cols=\"30\""))
                            @Html.ValidationMessage(ParentID + "_" + "err_sTenNguoiTiepNhan")
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">
                        <div class="col-xs-2 labelSearch norwap">
                            File Đính kèm
                        </div>
                        <div class="col-xs-10">
                            <input class="form-control input-sm" type="file" name="upload" />
                            <span style="color:red">Định dạng: jpg, jpeg, pdf, tif</span>
                        </div>
                    </div>
                    <div> &nbsp;</div>
                    <div class="col-xs-8 text-Align-Center">
                        <div class="col-xs-8">
                            <button class="btn btn-primary btn-sm">Gửi doanh nghiệp</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default  btn-danger" type="button" onclick="javascript:history.go(-1)">Thoát</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!-- /.box -->
</div><!-- /.col -->