@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls

@{
    Layout = null;
    string ParentID = "TC";
}


@using (Ajax.BeginForm("TuChoiSubmit", "ChoTiepNhanHoSo", new AjaxOptions
{
    OnSuccess = "OnSuccessTuChoi",
    OnBegin = "OnBeginTuChoi",

}, new { id = "formTuChoi", enctype = "multipart/form-data" }))
{
    <script>
        function OnBeginTuChoi() {
            $('html, body').animate({ scrollTop: 10 }, 'slow');
        }

        function OnSuccessTuChoi(data) {
            location.reload();
            $('#TuChoi').modal('hide');
        }

    </script>
    @Html.AntiForgeryToken()
    <div id="UploadKetQua" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Yêu cầu bổ sung</h4>
                        <h5 id="scodeGD"></h5>*@
                    <div class="box-header">
                        <h3 class="box-title upperCase"></h3>
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#" data-dismiss="modal"><i class="fa fa-reply-all"></i> Quay lại</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                </div>
                <div class="modal-body">
                    <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                        <div class="box-body">
                            <div class="row" style="border:solid 1px black;padding:10px;">
                                <div class="col-xs-12">
                                    <div class="box-header">
                                        <b style="font-size:15px;">Nội dung xử lý</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 labelSearch norwap control-label">
                                        Tên TACN
                                    </div>
                                    <div class="col-xs-4">
                                        abc
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 labelSearch norwap control-label">
                                        Kết quả đánh giá sự phù hợp
                                    </div>
                                    <div class="col-xs-4">
                                        phù hợp
                                        <input type="radio" name="radiobutton" value="1" />
                                        không phù hợp
                                        <input type="radio" name="radiobutton" value="0" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row" style="border:solid 1px black;padding:10px;">
                                <div class="col-xs-12">
                                    <div class="box-header">
                                        <b style="font-size:15px;">Kết quả đánh giá sự phù hợp</b>
                                        
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-12">
                                        <div class="box-header">
                                            Thông tin giấy chứng nhận hợp  quy lô TACN nhập khẩu
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-1">
                                                Số
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="text" name="name" value="" style="width:100%" />
                                            </div>
                                            <div class="col-xs-2">
                                                Ngày cấp
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="date" name="name" value="" style="width:100%" />
                                            </div>
                                            <div class="col-xs-2">
                                                File đính kèm
                                            </div>
                                            <div class="col-xs-2">
                                                <input type="file" name="name" value="" style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    &nbsp;
                                </div>
                                <div class="col-xs-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>STT</td>
                                            <td>Phiếu kết quả phân tích </td>
                                            <td>Thao tác</td>
                                        </tr>
                                        <tr>
                                            <td>STT</td>
                                            <td>Phiếu kết quả phân tích </td>
                                            <td>Thao tác</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12" style="text-align:center;">
                        <button class="btn btn-primary btn-sm" id="btnTuChoi" type="button">Lưu</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-sm" data-dismiss="modal" type="button">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden(ParentID + "_iID_MaHoSo", 0)
}