@using System
@using System.Collections.Specialized
@using DomainModel
@using DomainModel.Controls
@using DATA0200025
@using APP0200025.Models
@using DATA0200025.Models
@model HangHoaModels
@{
    Layout = null;
    string ParentID = "TC";
}
<input hidden/>
<section>
    <div class="box-body">
        <div class="row">
            <div class="col-md-10">
                <iframe id="ifViewFile" src="" style="height:643px;width:750px;"> </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
               
                <div class="box-footer clearfix text-center">
                    <div class="col-xs-4">
                        <button class="btn btn-block btn-primary " data-id="@Model.iID_MaHangHoa"  id="btnDongY" type="button">Đồng ý</button>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-danger btn-block opentuchoiHH" data-id="@Model.iID_MaHangHoa" data-toggle="modal" href="#TuChoiHH" type="button">Từ chối</a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-block" style="background-color:#023658; color:white;" id="btnThoat" onclick="javascript:history.go(-1)">Thoát</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>  